recursive-include src/codec_video_prep/libs *.so*
include native/cv_reader_fast.cpp
recursive-include ffmpeg_patch *
include ffmpeg/ffmpeg-snapshot.tar.bz2
include scripts/build_patched_ffmpeg.sh
include build_pixel_ffmpeg.sh
